/* .container {
    position: relative;
    width: 390px;
    height: 844px;
    width: 30rem;
    height: 40rem;
    padding-top: 100px;
    justify-content: center;
}

header {
    padding-left: 10px;
}

h2 {
    margin-bottom: 20px;
    font-size: 3rem;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img-container {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 100px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 80px;
}

.grouped-info {
    margin-top: 20px;
    display: flex;
    margin-left: 60px;
}

.grouped-info input {
    height: 50px;
    width: 250px;
}

form {
    height: 400px;
    padding-top: 80px;
}

.form-actions {
    margin-top: 40px;
}

#btn {
    color: aliceblue;
    font-size: large;
    background: #024DA1;
    width: 150px;
    border-radius: 10%;
    margin: 10px;
    height: 50px;
}

.info {
    display: block;
    margin: 10px;
}

.info label {
    font-size: larger;
    font-weight: bold;
    margin-left: 150px;
}

.info input {
    width: 350px;
    height: 100px;
    margin-left: 50px;
}

.profile-img-update {
    position: absolute;
    background: #024DA1;
    height: 50px;
    width: 50px;
    left: 230px;
    border-radius: 50%;
} */

.name {
    font-size: 2.5rem;
    color: #FCBA21;
    margin: 0 3.5rem;
}

.image {
    height: 8rem;
    margin: 1rem 7rem;
}

.info {
    font-size: 1.5rem;
    overflow: scroll;
    height: 55vh;
}

.grouped-info {
    margin-top: 1.5rem;
}

label {
    color: #213c51;
    margin-right: 1rem;
}

input {
    width: 100%;
    height: auto;
    padding: 0 0.5rem;
    border-bottom: #213c51 3px solid !important;
    background: none;
    border: none;
}