<div class="container" *ngIf="currentUser">
    <b class="name">Hello {{currentUser.username}}</b>
    <!-- <h1>Hello {{currentUser.username}}</h1> -->
    <div class="">
        <p class="post" id=" post ">Add A Post</p>
        <textarea class="input " cols="50 " rows="10 " placeholder="Type... " [(ngModel)]="form.text ">Type...</textarea>
    </div>
    <button class="posts " (click)="add() ">Post</button>

    <div class="reaction ">
        <button class="btn ">cancel</button>
    </div>
</div>
<app-header></app-header>