<div>

    <!-- <div class="row align-items-start" *ngFor="let post of posts">
    <div class="col" id="columns">
      <div class="card">
        <div class="card-head">
          <img src="{{post.userImage}}" class="img" alt="...">
          <div>
            <h4 class="username">{{post.userName}}</h4>
            <p class="profession">{{post.userProfession}}</p>
          </div>
        </div>
        <div>
        </div>
        <div>
          <img src="{{post.content.image}}" class="img2">
        </div>
        <div class="card-body">
          <p>{{post.content.text}}</p>
        </div>
      </div>
    </div>
  </div> -->


    <!-- logo -->
    <div class="logo">
        <img id="profile-img" src="assets\FINE.png" class="center" />
    </div>


    <!-- auth buttons -->
    <div class="btns">
        <button type="button" class="btn btn-in w-100 mb-5 text-uppercase btn-lg" [routerLink]="['/login']">Login</button>
        <button type="button" class="btn btn-up w-100 mb-3 text-uppercase btn-lg" [routerLink]="['/register']">Register</button>
    </div>



</div>