.container {
  position: relative;
  width: 390px;
  height: 844px;
  /* justify-content: center; */
  background: gray;
}

h1 {
  position: relative;
  font-size: xx-large;
  font-weight: bold;
  top: 400px;
}
