<!-- <nav class="navbar navbar-expand">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
            <a href="/home" class="nav-link" routerLink="home">
                <i class="fa-sharp fa-solid fa-house" id="icons"></i></a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
            <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
            <a href="/profile" class="nav-link" *ngIf="isLoggedIn" routerLink="profile">
                <i class="fa-sharp fa-solid fa-user" id="icons"></i></a>
        </li>
        <li class="nav-item" n id="plus">
            <a href="/profile" class="nav-link" *ngIf="isLoggedIn" routerLink="new">
                <i class="fa-sharp fa-solid fa-plus" id="icon-plus"></i></a>
        </li>
        <li class="nav-item">
            <a href="/profile" class="nav-link" *ngIf="isLoggedIn" routerLink="chats">
                <i class="fa-solid fa-message" id="icons"></i></a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register" id="nav-link">Sign Up</a>
        </li>
        <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login" id="nav-link">Login</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
            <a href class="nav-link" (click)="logout()">
                <i class="fa-sharp fa-solid fa-right-from-bracket" id="icons"></i></a>
        </li>
    </ul>
</nav> -->





<div class="footer">
    <div class="row">
        <!-- posts -->
        <div class="col">
            <a [routerLink]="['/posts']">
                <i class="fa-regular fa-address-card"></i>
            </a>
        </div>

        <!-- practitioners -->
        <div class="col">
            <a [routerLink]="['/search']">
                <i class="fa-solid fa-list-ul"></i>
            </a>
        </div>

        <!-- profile -->
        <div class="col">
            <a [routerLink]="['/profile']">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>

        <!-- logout -->
        <div class="col">
            <a (click)="logout()">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>


        <!-- add  -->
        <div *ngIf="prac">
            <a class="float " [routerLink]="[ '/new'] ">
                <i class="fa fa-plus my-float "></i>
            </a>
        </div>

    </div>
</div>