.footer {
  position: absolute;
  width: 390px;
  height: 844px;
  left: 0px;
  top: 768px;
  /* margin-left: 100px; */

  background: #256789;

  background-position: center;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  /* background-size: cover; */
}
.main {
  position: relative;
  width: 390px;
  height: 844px;
  background: linear-gradient(180deg, #4E80B9 0%, #f4bf41 100%);
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
