<div class="container" *ngFor="let user of users">
  <div class="row" id="columns" >
    <div class="col">
      <div class="card">
        <div class="card-head">
          <img src="{{user.userImage}}" class="img" alt="...">
          <div>
            <h5 class="username">{{user.username}}</h5>
            <p class="profession">{{user.profession}}</p>
          </div>
        </div>
        <a href="#" id="chat"class="btn btn-primary"><i class="fa-solid fa-message"></i>
        </a>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>
