.name {
    font-size: 2.5rem;
    color: #FCBA21;
    margin: 0 3.5rem;
}


/* .container {
    position: relative;
    width: 390px;
    border-radius: 2%;
} */

.card {
    height: 80px;
    margin: 2rem;
    background: #FCBA21;
    color: white;
}

.img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
    top: 10px;
    border-radius: 40px;
}

.username {
    position: absolute;
    width: 96px;
    height: 29px;
    left: 128px;
    top: 10px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* color: #12457d; */
}

.profession {
    position: absolute;
    width: 100px;
    height: 18px;
    left: 138px;
    top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}


/* .text {
    margin: 10px;
    font-weight: 500;
    height: 100px;
    overflow: hidden;
}

.col {
    margin-top: 80px;
    background: transparent;
} */

#chat {
    position: absolute;
    left: 81.08%;
    right: 12.1%;
    top: 31.56%;
    bottom: 64.3%;
    width: 40px;
    height: 28.58;
}

svg {
    height: 1.5rem;
    color: white;
}
