<div class="container">
    <b class="name">Hello {{currentUser.username}}</b>
</div>
<!-- *ngFor="let user of users" -->
<!--   {{user.profession}} -->

<div class="card" *ngFor="let user of users">
    <div class="row">
        <!-- profile pic -->
        <div class="col">
            <img src="{{user.image}}" class="img" alt="...">
        </div>

        <!-- name -->
        <div class="col">
            <h5 class="username">{{user.username}}</h5>
            <p class="profession">{{user.profession}}</p>
        </div>

        <!-- chat button -->
        <div class="col">
            <a href="#" id="chat" class="btn"><i class="fa-solid fa-message"></i>
    </a>
        </div>
    </div>

</div>

<app-header></app-header>