<div class="container">
  <div class="col">

      <img id="profile-img" src="favicon.ico" class="profile-img" />


      <div class="">
        <input type="checkbox" [(ngModel)]="practitioner" style="width: 30px;" id="" (change)="tooglePractitioner()">
        <label class="form-check-label" for="flexCheckDefault">
          Are you a practitioner?
        </label>
      </div>


      <!-- Form  -->
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid " #f="ngForm" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
            maxlength="20" #username="ngModel" placeholder="username"/>
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']">Username is required</div>
            <div *ngIf="username.errors['minlength']">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors['maxlength']">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
            #email="ngModel" placeholder="email@example.com"/>
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="phonenumber" [(ngModel)]="form.phonenumber" required phonenumber
          placeholder="Phone(063)"/>
        </div>
        <div class="form-group" *ngIf="practitioner">
          <input type="text" class="form-control" name="profession" [(ngModel)]="form.profession" required profession placeholder="Profession"/>
        </div>
        <div class="form-group" *ngIf="patient">
          <div class="kin">
            <label for="phonenumber">Next Of Kin:</label>
          </div>
          <input type="text" class="form-control" name="name" placeholder=" Name"
          [(ngModel)]="form.profession"
          required profession />
        </div>
        <div class="form-group" *ngIf="patient">
          <input type="number" class="form-control" name="phone" placeholder="number" [(ngModel)]="form.phone" required phonenumber />
        </div>
        <div class="form-group" *ngIf="practitioner">
          <input type="number" class="form-control" name="license" [(ngModel)]="form.license" required license placeholder="License/No."/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" requiredminlength="6"
            #password="ngModel" placeholder="Password"/>
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-buttons">
          <button class="btn btn-primary btn-block" (click)="toogleBack()"><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
          <button class="btn btn-primary btn-block" (click)="onSubmit()">Sign Up</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
</div>
